@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html {
	scroll-behavior: smooth;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.button-hover {
	@apply hover:scale-95 transition hover:saturate-150;
}

.button-primary {
	@apply text-white bg-custom-red-1 text-center rounded-md w-fit button-hover px-4 py-2;
}

.button-secondary {
	@apply border border-custom-red-1 text-center rounded-md w-fit button-hover px-4 py-2;
}

.typewriter {
	position: relative;
	width: auto;
	height: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 1.4rem;
}

.line01,
.line02,
.line03,
.line04,
.line05,
.line06,
.line07,
.line08,
.line09,
.line10,
.line11 {
	position: relative;
	display: block;
	width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	padding: 0.1rem 0;
}

.line01::before,
.line02::before,
.line03::before,
.line04::before,
.line05::before,
.line06::before,
.line07::before,
.line08::before,
.line09::before,
.line10::before,
.line11::before {
	content: "";
	position: absolute;
	top: -0.1rem;
	right: -1ch;
	height: calc(100% + 0.2rem);
	width: calc(100% + 1ch);
	background-color: rgb(025 025 025 / 1);
	border-left: 2px solid white;
}

.line01::before {
	width: 32ch;
	animation: typing calc(32 * 150ms) steps(31) calc(1 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line02::before {
	width: 56ch;
	animation: typing calc(56 * 150ms) steps(55) calc(32 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line03::before {
	width: 18ch;
	animation: typing calc(18 * 150ms) steps(17) calc(88 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line04::before {
	width: 35ch;
	animation: typing calc(35 * 150ms) steps(34) calc(106 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line05::before {
	width: 58ch;
	animation: typing calc(58 * 150ms) steps(57) calc(141 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line06::before {
	width: 46ch;
	animation: typing calc(46 * 150ms) steps(45) calc(199 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line07::before {
	width: 48ch;
	animation: typing calc(48 * 150ms) steps(47) calc(245 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line08::before {
	width: 31ch;
	animation: typing calc(31 * 150ms) steps(30) calc(293 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line09::before {
	width: 36ch;
	animation: typing calc(36 * 150ms) steps(35) calc(324 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line10::before {
	width: 45ch;
	animation: typing calc(45 * 150ms) steps(44) calc(360 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

.line11::before {
	width: 21ch;
	animation: typing calc(21 * 150ms) steps(20) calc(405 * 150ms) 1 both,
		blinking 150ms linear infinite alternate;
}

@keyframes typing {
	from {
		max-width: calc(100% + 1ch);
	}
	to {
		max-width: 0ch;
	}
}

@keyframes blinking {
	from {
		border-color: white;
	}
	to {
		border-color: transparent;
	}
}
